<!DOCTYPE html>
<html>
<head>
	<title>Albums</title>

</head>

<body>
		<h3>welcome</h3>
	{% if homename %}
		<h1>This is&nbsp;{{homename}}'s&nbsp;Profile</h1>
	{% endif %}

	{% if albums %}
		<h2>Album</h2>
		<ul>
			{% for album in albums %}

				<h3><a href="{{url_for('albums')}}?aid={{album[0]}}">{{album[1]}}</a></h3>
				<a href="{{url_for('delete')}}?photouid={{album[3]}}&aid={{album[0]}}">Delete album {{album[1]}}</a>
				<br>
			{% endfor %}
		</ul>
	{% endif %}
{% if not guest %}
	<a href="{{ url_for('profile') }}">Back to Profile</a>
{% else %}
	<a href="{{ url_for('login') }}?email=guest&password=guest">Homepage</a>
{% endif %}

</body>

</html>


	
		
		

		
	{% endif %}



{% if not guest %}
	<a href="{{ url_for('profile') }}">Back to Profile</a>	
{% else %}
	<a href="{{ url_for('login') }}?email=guest&password=guest">Homepage</a>
{% endif %}

</body>

</html>
