<!DOCTYPE html>
<html>
<head>
	<title>photo</title>
</head>
<body>
{% if name %}
	<h2>welcome!&nbsp;{{name}}</h2>
{% endif %}
{% if message %}
	<h2>{{message}}</h2>
{% endif %}
{% if photos %}
	<ul>
	    {% for photo in photos %}
	        <li>
	        	<br>
	        	<a href="{{url_for('photo')}}?pid={{photo[1]}}&photouid={{photo[3]}}"><img src='data:image/png;base64, {{photo[0]}}'/></a><br>
	        	{{photo[2]}}
	        	<br>
	        	<a href="{{url_for('delete')}}?pid={{photo[1]}}&photouid={{photo[3]}}&aid={{photo[4]}}">Delete {{photo[2]}}</a>
				<br>
	        </li>
{% endfor %}
	</ul>
	<a href="{{url_for('albums')}}?aid={{photos[0][4]}}&userid={{photos[0][3]}}">Back to Albumlist</a>
{% endif %}
{% if photo %}
	<img src='data:image/png;base64, {{photo[0][0]}}'/><br>{{photo[0][2]}}
	<a href="{{url_for('albums')}}?aid={{photo[0][4]}}">Back to Album</a>
	<br>
	{% if tags %}
		Tags:
		{% for tag in tags %}
			<br>
			{{tag[3]}}
			<br>
			<a href="{{url_for('photo')}}?word={{tag[3]}}&usertagid={{tag[1]}}&pid={{tag[2]}}">View my photos/</a>
			<a href="{{url_for('photo')}}?word={{tag[3]}}&pid={{tag[2]}}">View all photos</a>
		{% endfor %}
	{% endif %}
	<br>
	{% if likes %}
		{% for like in likes %}
			{{like[1]}}
		{% endfor %}
		&nbsp;{{count}}
		people have liked the photo
	{% endif %}
	<br>
	<a href="{{url_for('photo')}}?pid={{photo[0][1]}}&userid={{photo[0][3]}}">Like!</a>
	<br>
	<form method="post" action="/photo">
		Comment:<label for="comments"></label>
        <input type="text" name="comment" /><br />
        <input type="submit" name="comment" value="Submit">
        <input type="hidden" name="pid" value="{{photo[0][1]}}">
        <input type="hidden" name="photouid" value="{{photo[0][3]}}">
	</form>
	{% if comments %}
		{% for comment in comments %}
			{% if not anonymous %}
				<a href="{{url_for('users')}}?uid={{comment[0]}}">{{comment[1]}}</a>
				:&nbsp;{{comment[2]}}
			{% else %}
				Anonymous:&nbsp;{{comment[2]}}
			{% endif %}
				<br>
		{% endfor %}
	{% endif %}
{% endif %}
<br>
{% if not guest %}
	<a href="{{ url_for('profile') }}">Back to Profile</a>
{% else %}
	<a href="{{ url_for('login') }}?email=guest&password=guest">Homepage</a>
{% endif %}
</body>
</html>



