<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
</head>
<body>
	{% if not guest %}
	{% if message %}
  		<h4>{{message}}</h4>
	{% endif %}
	{% if name %}
  		<h1>Hello {{ name }}!</h1>
	{% endif %}
	<a href="{{ url_for('photo') }}">My photos!</a>
	<br>
    <a href="{{ url_for('upload') }}">Upload photos!</a>
    <br>
    <a href="{{ url_for('albums') }}">My albums!</a>
    <br>
    <a href="{{ url_for('createalbum') }}">Create an album!</a>
    <br>
    <a href="{{ url_for('users') }}">Search!</a>
    <br>

  	<a href="{{ url_for('users') }}?selfid={{uid}}">Friends list!</a>
	<br>
	<a href="{{ url_for('recommendation') }}">Recommendations!</a>

    <br>
    <a href="{{ url_for('logout') }}">Log out here</a>

    {% endif %}

</body>
</html>
