
<!DOCTYPE html>
<html>
<head>
	<title>Recommendations</title>
</head>
<body>
{%if message %}
	<h2>{{message}}</h2>
{% endif %}
	<form action="recommendation" method="POST">
        <p>Tag it</p>
        <input type="text" name="tags" />
        <input type="submit" names="submit" value="tags">
        <br>
    </form>
    {% if sequence %}
    	{% for seq in sequence %}
    		{{seq[1]}}&nbsp;{{seq[0]}}times<br>
    	{% endfor %}
    {% endif %}
    <br>
    {% if photos %}
	<ul>
	    {% for photo in photos %}
	        <li>
	        	<br>
	        	<a href="{{url_for('photo')}}?pid={{photo[1]}}&photouid={{photo[3]}}"><img src='data:image/png;base64, {{photo[0]}}'/></a><br>
	        	{{photo[2]}}
	        	<br>
	    {% endfor %}
			</li>
	</ul>
	<br>
	{% endif %}
    <a href="{{ url_for('profile') }}">Back to Profile</a>
</body>
</html>
