<!DOCTYPE html>
<html>
<head>
    <title>Create an account!</title>
</head>

    <body>


<!-- <hr width="1" size="100" border-left="50"> -->
<div id="header">
    <div id="header-content">
        <div class="vr" style="left:400px;"></div>
            <div id="href" style="padding:20px">
                <div style="padding: 0 0 0 200px; display: inline;">
                    <a href="/" style="" >Home</a>
                </div>
                <div style="padding: 0 0 0 200px; display: inline;">
                    <a href="{{ url_for('login') }}">Log in</a>
                </div>
                <div style="padding: 0 0 0 200px; display: inline;">
                    <a href="{{ url_for('login') }}?email=guest&password=guest">Guest</a>
                </div>
            </div>
        <div class="vr" style="left:700px;"></div>
    </div>
</div>
     
        <div class="title">
            <h1>Enter your information below</h1>
        </div>
        <div id="content" align="center">
            <form method="post" action="{{ url_for('register_user') }}">
                <label for="email">Email:</label><br>
                <input type="email" name="email" /><br />
                <br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" /><br />
                <br>
                <label for="firstname">Firstname:</label><br>
                <input type="text" name="firstname" /><br>
                <br>
                <label for="lastname">Lastname:</label><br>
                <input type="text" name="lastname" /><br>
                <br>
                <label for="gender">Gender:</label><br>
                <input type="text" name="gender" value="F" /><br>
                <br>
                <label for="birthday">Birthday:</label><br>
                <input type="date" name="bday" value="1990-01-01" /><br>
                <br>
                <label for="Hometown">Hometown:</label><br>
                <input type="text" name="hometown" /><br>
                <br>
                <input type="submit" />
            </form>
         </div>
    </body>
    <br>


<br><br>
</html>
